{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ 'Feedback items'|trans }}</h1>

    {% if items %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Subject'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
                <th>{{ 'Created by'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Category'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('tidy_feedback_show', {id: item.id}) }}">
                            {{ item.subject }}
                        </a>
                    </td>
                    <td>{{ item.createdAt|date(constant('\\DateTimeImmutable::ATOM')) }}</td>
                    <td>{{ item.createdBy|default('–') }}</td>
                    <td>{{ item.status.value|default('–') }}</td>
                    <td>{{ item.category.value|default('–') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">{{ 'Not feedback yet'|trans }}</div>
    {% endif %}
{% endblock %}
